/* Agrega aqui tu CSS */

.texto1{
width: 220px;
border: 10px solid yellow;
padding: 40px;
text-align: center;

}

.texto2{
width: 220px;
border: 10px solid yellow;
padding: 40px;
text-align: left;
margin: auto;

}



